.get-button
{
    font-weight: bolder;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: large;
}

.photos-card
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.photo-container
{
    border: solid white 1px;
    border-radius:12px;
    padding: 10px;
    margin:20px;
    width: 250px;
    
}

.photo-item
{
    width: 200px;
    align-items: center;
}