.nav-bar{
    border: solid white 1px;
    border-radius: 25px;
    background-color: rgba(256,256,256,0.8);
    padding: 20px;
}

.header
{
    text-align: center;
}

.nav-link, .navbar-brand{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav-bar-nav, .nav-item
{
    display: inline;
    padding: 20px;
}

.nav-bar-nav
{
    position: absolute;
    right: 10px;
    top: 5px;
    margin: 0;
}
